@charset "UTF-8";
$impColor:#ff635c;
$bgColor:#f5f5f5;
$blue:#1e71f9;
$green:#06d79c;
$yellow:#ffcd2c;
$white:#ffffff;
$impTextColor:#333333;
$contenTextColor:#666666;
$sublineColor:#e5e5e5;
$slotBg:#ec414a;
$imgBg:#37b6fa;
$videoBg:#5c50ff;

