@import "base.scss";
.examine-advertising {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .top {
        line-height: 56px;
        padding-left: 20px;
        .crumbs {
            font-size: 12px;
        }
    }
    .bottom {
        background-color: $white;
        padding: 20px;
        .condition {
            .condition-info {
                padding: 20px;
                background: $bgColor;
            }
            .condition-content {
                margin-bottom: 20px;
                .popularization-plan {
                    line-height: 30px;
                    .popularization-plan-info {}
                    .popularization-plan-input {}
                }
            }
            .condition-search {
                margin-left: 77px;
                margin-top: 5px;
                a {
                    margin-right: 10px;
                }
            }
            .advertising-operation {
                margin: 20px 0;
                a {
                    margin-right: 10px;
                }
                a:last-child {
                    margin-right: 0;
                }
            }
            .row3 {
                background: $bgColor;
                box-sizing: border-box;
                border: 1px solid $sublineColor;
                border-bottom: none;
                .bg {
                    text-align: center;
                    width: 120px;
                    height: 44px;
                    cursor: pointer;
                    line-height: 44px;
                }
                .pdf {
                    border-right: 1px solid $sublineColor;
                }
            }
        }
        .examine-advertising-select {
            margin: 20px 0;
            a {
                margin-right: 10px;
            }
        }
        .row3 {
            background: $bgColor;
            box-sizing: border-box;
            border: 1px solid $sublineColor;
            border-bottom: none;
            .bg {
                text-align: center;
                width: 120px;
                height: 44px;
                cursor: pointer;
                line-height: 44px;
            }
        }
        .home-fenyeCon {
            width: 100%;
            .all-material {
                margin-bottom: 20px;
                padding: 24px 20px;
                border: 1px solid $sublineColor;
                .material-file {
                    width: 124px;
                    height: 200px;
                    margin-right: 32px;
                    margin-bottom: 24px;
                    .file-type {
                        margin-bottom: 10px;
                        width: 124px;
                        height: 124px;
                        img {
                            width: 124px;
                            height: 124px;
                        }
                    }
                    .file-name {
                        margin-bottom: 15px;
                        .file-name-left {
                            margin-right: 8px;
                        }
                        .file-name-right {
                            width: 98px;
                            height: 40px;
                            span {
                                color: $impTextColor;
                            }
                        }
                    }
                    .file-operation-file {
                        padding: 0 30px;
                        div {
                            font-size: 13px;
                            color: $blue;
                        }
                        .edit {}
                        .delete {
                            margin-left: 5px;
                        }
                    }
                    .file-operation-other {
                        div {
                            cursor: pointer;
                            margin-left: 4px;
                            font-size: 13px;
                            color: $blue;
                        }
                        .shear {}
                        .copy {}
                        .edit {}
                        .delete1 {}
                    }
                }
            }
            .paging {
                text-align: center;
            }
        }
    }
}

.el-breadcrumb {
    font-size: 14px;
    line-height: 1;
}