 @import "base.scss";
 .examine-device {
     width: 100%;
     height: 100%;
     overflow-y: auto;
     .top {
         line-height: 56px;
         margin-left: 20px;
         .crumbs {
             font-size: 12px;
         }
     }
     .bottom {
         .row1 {
             padding: 20px;
             background: $bgColor;
             .material-name {
                 height: 30px;
                 line-height: 30px;
                 &-left {}
                 &-right {
                     margin-left: 20px;
                 }
             }
             .material-search {
                 margin-left: 77px;
                 a {
                     margin-right: 6px;
                 }
             }
         }


     }
 }