@import "base.scss";
.issue-advertising {
  width: 100%;
  height: 100%;
  .top {
    line-height: 56px;
    padding-left: 20px;
    .crumbs {
      font-size: 12px;
    }
  }
  .bottom {
    background-color: $white;
    padding: 20px;
    .cf::after{
      content: '';
      display: table;
      clear: both;
    }
    .issue-common-advertising {
      .issue-common-advertising-title {
        height: 34px;
        background-color: $bgColor;
        line-height: 34px;
        padding-left: 20px;
        span {
          font-size: 15px;
          color: $impTextColor;
        }
      }
      .issue-common-advertising-info {
        padding-left: 20px;
        .popularization-plan {
          margin-top: 20px;
          line-height: 30px;
        }
        .put-in-time {
          margin-top: 20px;
        }
        .start-end-time {
          margin-top: 20px;
          line-height: 30px;
        }
        .advertising-type {
          margin-top: 20px;
        }
      }
      .issue-common-advertising-type {
        .template-show {
          margin-top: 20px;
          height: 400px;
          width: 100%;
          box-sizing: border-box;
          .template-show-info {
            width: 600px;
            height: 100%;
            background: url("./../../assets/images/device_group_manage/advertising_bg.png")no-repeat 0 0;
            background-size: 100% 100%;
            position: relative;
            .template-show-shade {
              height: 100%;
              width: 100%;
              position: absolute;
              background: rgba(0, 0, 0, 0.4);
            }
            .template {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 180px;
              height: 104px;
              margin-top: -52px;
              margin-left: -90px;
              z-index: 1;
              color: $white;
              cursor: pointer;
              text-align: center;
              .template-set-jurisdiction {
                border: 1px solid $white;
                height: 80px;
                width: 80px;
                border-radius: 4px;
                text-align: center;
                padding-top:15px; 
                box-sizing: border-box;
                background-color: rgba(255, 255, 255, 0.2);
                a {
                  i {
                    color: $white;
                    font-size: 24px;
                  }
                  span {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
    .title_box{
      .templateName{
        float: left;
      }
      .prve{
        float: left;
        margin-left: 300px;
        margin-top: 5px;
      }
    }
    .issue-urgency-advertising {
      margin-top: 30px;
      .issue-urgency-advertising-title {
        height: 36px;
        padding-left: 20px;
        background-color: $bgColor;
        line-height: 36px;
        span {
          font-size: 14px;
          color: $impTextColor;
        }
      }
    }
    .submit {
      margin-top: 20px;
    }
  }
}

.el-breadcrumb {
  font-size: 14px;
  line-height: 1;
}

.select-device-group-dialog {
  .device-group-dialog-screen-type {
    .device-group-dialog-screen-type-titel {
    }
    .device-group-dialog-screen-type-info {
      span {
        margin-right: 15%;
      }
    }
  }
}
.home-fenyeCon {
  width: 100%;
  .all-material {
    margin-bottom: 20px;
    padding: 24px 20px;
    border: 1px solid $sublineColor;
    .material-file {
      width: 124px;
      height: 200px;
      margin-right: 32px;
      margin-bottom: 24px;
      .file-type {
        margin-bottom: 10px;
        width: 124px;
        height: 124px;
        img {
          width: 124px;
          height: 124px;
        }
      }
      .file-name {
        margin-bottom: 15px;
        .file-name-left {
          margin-right: 8px;
        }
        .file-name-right {
          width: 98px;
          height: 40px;
          span {
            color: $impTextColor;
          }
        }
      }
      .file-operation-file {
        padding: 0 30px;
        div {
          font-size: 13px;
          color: $blue;
        }
        .edit {
        }
        .delete {
          margin-left: 5px;
        }
      }
      .file-operation-other {
        div {
          cursor: pointer;
          margin-left: 4px;
          font-size: 13px;
          color: $blue;
        }
        .shear {
        }
        .copy {
        }
        .edit {
        }
        .delete1 {
        }
      }
    }
  }
  .paging {
    text-align: center;
  }
}
