@import "base.scss";
.material-manage {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .top {
        line-height: 56px;
        margin-left: 20px;
        .crumbs {
            font-size: 12px;
        }
    }
    .bottom {
        background-color: $white;
        padding: 20px;
        .row1 {
            padding: 20px;
            background: $bgColor;
            .material-name {
                height: 30px;
                line-height: 30px;
                &-left {}
                &-right {
                    margin-left: 20px;
                }
            }
            .material-search {
                margin-left: 77px;
                a {
                    margin-right: 6px;
                }
            }
        }
        .material-manage-file-select {
            margin: 20px 0;
            a {
                margin-right: 6px;
            }
        }
        .row3 {
            box-sizing: border-box;
            .bg {
                text-align: center;
                width: 120px;
                height: 34px;
                cursor: pointer;
                line-height: 34px;
                border: 1px solid $sublineColor;
                border-bottom: none;
                border-right: none;
                box-sizing: border-box;
            }
            .bg:last-child {
                border-right: 1px solid $sublineColor;
            }
        }
        .home-fenyeCon {
            width: 100%;
            .all-material {
                box-sizing: border-box;
                margin-bottom: 20px;
                padding: 24px 20px;
                border: 1px solid $sublineColor;
                .material-file {
                    width: 128px;
                    height: 200px;
                    box-sizing: border-box;
                    width: 16.2%;
                    margin: 0;
                    .file-type {
                        margin: auto;
                        margin-bottom: 10px;
                        width: 126px;
                        height: 126px;
                        img {
                            border-radius: 5px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .file-remove {
                        display: none;
                        opacity: 0;
                    }
                    .file-preview {
                        display: none;
                        opacity: 0;
                    }
                    .file-type:hover .file-remove {
                        width: 22px;
                        height: 22px;
                        background: rgba(0, 0, 0, 0.5);
                        position: absolute;
                        top: 0;
                        right: 0;
                        text-align: center;
                        cursor: pointer;
                        opacity: 1;
                        display: block;
                        color: $white;
                        font-size: 16px;
                        line-height: 22px;
                        border-top-right-radius: 4px;
                    }
                    .file-type:hover .file-preview {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 22px;
                        background: rgba(0, 0, 0, 0.5);
                        color: $white;
                        cursor: pointer;
                        text-align: center;
                        font-size: 16px;
                        opacity: 1;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    .file-name {
                        padding: 0 20%;
                        &-left {
                            margin-right: 8px;
                        }
                        &-right {
                            overflow: hidden;
                            /*超出的部分隐藏起来。*/
                            white-space: nowrap;
                            /*不显示的地方用省略号...代替*/
                            text-overflow: ellipsis;
                            /* 支持 IE */
                            width: 98px;
                            height: 40px;
                            span {
                                color: $impTextColor;
                            }
                        }
                    }
                    .file-operation-file {
                        padding: 0 30px;
                        div {
                            font-size: 12px;
                            color: $blue;
                        }
                        .edit {}
                        .delete {
                            margin-left: 5px;
                        }
                    }
                    .file-operation-other {
                        div {
                            cursor: pointer;
                            margin-left: 4px;
                            font-size: 12px;
                            color: $blue;
                        }
                        .shear {}
                        .copy {}
                        .edit {}
                        .delete1 {}
                    } 
                }
            }
            .paging {
                text-align: center;
            }
        }
    }
}

.el-breadcrumb {
    font-size: 14px;
    line-height: 1;
}