@import "base.scss";
.new-set-timing-play {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .top {
        line-height: 56px;
        padding-left:20px; 
        .crumbs {
            font-size: 12px;
        }
    }
    .bottom {
        background-color: $white;
        padding: 20px;
       
    }
}