@import "base.scss";
.poster-manage {
    width: 100%;
    height: 100%;
    .top {
        line-height: 56px;
        margin-left: 20px;
        span {
            font-size: 12px;
        }
        .crumbs {}
    }
    .bottom {
        background-color: $white;
        padding: 20px;
        .tabs {
            .tabs-advertising {
                div {
                    width: 120px;
                    height: 34px;
                    border-radius: 3px;
                    line-height: 34px;
                    text-align: center;
                    background-color: $bgColor;
                    color: $impTextColor;
                    margin-right: 10px;
                }
                .advertising {
                    border-radius: 3px 0 0 3px!important;
                }
                .advertising-group {
                    border-radius: 0 3px 3px 0!important;
                }
            }
        } // 广告
        .advertising {
            .condition {
                .condition-info {
                    padding: 20px;
                    background: $bgColor;
                    .condition-content {
                        .popularization-plan {
                            line-height: 30px;
                            .popularization-plan-info {}
                            .popularization-plan-input {}
                        }
                    }
                    .condition-search {
                        margin-left: 77px;
                        a {
                            margin-right: 6px;
                        }
                    }
                }
                .home-fenyeCon {
                    width: 100%;
                    .all-material {
                        margin-bottom: 20px;
                        padding: 24px 20px;
                        border: 1px solid $sublineColor;
                        .material-file {
                            width: 124px;
                            height: 200px;
                            margin-right: 15px;
                            margin-bottom: 24px;
                            .file-type {
                                margin-bottom: 10px;
                                width: 124px;
                                height: 124px;
                                img {
                                    width: 124px;
                                    height: 124px;
                                }
                            }
                            .file-name {
                                &-left {
                                    margin-right: 8px;
                                }
                                &-right {
                                    width: 98px;
                                    height: 40px;
                                    span {
                                        color: $impTextColor;
                                    }
                                }
                            }
                            .file-operation-file {
                                padding: 0 30px;
                                div {
                                    font-size: 12px;
                                    color: $blue;
                                }
                                .edit {}
                                .delete {
                                    margin-left: 5px;
                                }
                            }
                            .file-operation-other {
                                div {
                                    cursor: pointer;
                                    margin-left: 4px;
                                    font-size: 12px;
                                    color: $blue;
                                }
                                .shear {}
                                .copy {}
                                .edit {}
                                .delete1 {}
                            }
                        }
                    }
                    .paging {
                        text-align: center;
                    }
                }
            }
        } // 广告组
        .advertising-group {
            .condition {
                .condition-info {
                    padding: 20px;
                    background: $bgColor;
                    .condition-content {
                        margin-bottom: 14px;
                        .popularization-plan {
                            line-height: 30px;
                            .popularization-plan-info {}
                            .popularization-plan-input {}
                        }
                    }
                    .condition-search {
                        margin-left: 77px;
                        margin-top: 5px;
                        a {
                            margin-right: 6px;
                        }
                    }
                }
                .home-fenyeCon {
                    width: 100%;
                    .all-material {
                        margin-bottom: 20px;
                        padding: 24px 20px;
                        border: 1px solid $sublineColor;
                        .material-file {
                            width: 124px;
                            height: 200px;
                            margin-right: 32px;
                            margin-bottom: 24px;
                            .file-type {
                                margin-bottom: 10px;
                                width: 124px;
                                height: 124px;
                                img {
                                    width: 124px;
                                    height: 124px;
                                }
                            }
                            .file-name {
                                &-left {
                                    margin-right: 8px;
                                }
                                &-right {
                                    width: 98px;
                                    height: 40px;
                                    span {
                                        color: $impTextColor;
                                    }
                                }
                            }
                            .file-operation-file {
                                padding: 0 30px;
                                div {
                                    font-size: 13px;
                                    color: $blue;
                                }
                                .edit {}
                                .delete {
                                    margin-left: 5px;
                                }
                            }
                            .file-operation-other {
                                div {
                                    cursor: pointer;
                                    margin-left: 4px;
                                    font-size: 13px;
                                    color: $blue;
                                }
                                .shear {}
                                .copy {}
                                .edit {}
                                .delete1 {}
                            }
                        }
                    }
                    .paging {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.el-breadcrumb {
    font-size: 14px;
    line-height: 1;
}