.grouptemplate_wrapper {
  user-select: none;
  color: #333333;
}

.grouptemplate_wrapper .template_box {
  width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  padding-top: 0;
  padding-left: 0;
  box-sizing: border-box;
}

.grouptemplate_wrapper .template_box .template_center {
  overflow: hidden;
}

.grouptemplate_wrapper .template_box .template_center .mid {
  overflow: hidden;
  width: 960px;
  height: 540px;
  background: url("../../assets/images/template_bg.png");
}

.grouptemplate_wrapper .template_box .template_center .mid .layout_corver {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  display: none;
}

.grouptemplate_wrapper .template_box .template_center .mid .layout_corver .addAdv, .grouptemplate_wrapper .template_box .template_center .mid .layout_corver .addAdvGroup, .grouptemplate_wrapper .template_box .template_center .mid .layout_corver .reserved {
  display: none;
}

.grouptemplate_wrapper .template_box .template_center .mid .layout_corver .layout_txt_wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-top: -65px;
  margin-left: -45px;
  padding: 20px;
}

.grouptemplate_wrapper .template_box .template_center .mid .layout_corver .layout_txt_wrapper p {
  font-size: 16px;
}

.grouptemplate_wrapper .template_box .template_center .mid .layout_corver .layout_txt_wrapper .layout_fs {
  font-size: 60px;
}

.grouptemplate_wrapper .template_box .template_center .mid .inter_wrapper {
  box-sizing: border-box;
  min-width: 10px;
  width: 80px;
  min-height: 10px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
}

.grouptemplate_wrapper .template_box .template_center .mid .inter_wrapper .inter_box {
  width: 100%;
  height: 100%;
}

.grouptemplate_wrapper .template_box .template_center .mid .inter_wrapper .inter_box .inter_bgimg {
  width: 60px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 10px);
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper {
  box-sizing: border-box;
  min-width: 10px;
  width: 300px;
  min-height: 10px;
  height: 150px;
  cursor: pointer;
  position: absolute;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_name, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_name, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_name {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  color: #fff;
  font-size: 20px;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box .video_bgimg {
  width: 66%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 25%;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box .slot_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box .slot_bgimg {
  background: url("../../assets/images/ad_bg.png") no-repeat;
  background-size: 60%;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box .img_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box .img_bgimg {
  background: url("../../assets/images/img_bg.png") no-repeat;
  background-size: 60%;
  top: 16%;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box .video_bgimg, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box .video_bgimg {
  background: url("../../assets/images/video_bg.png") no-repeat;
  background-size: 60%;
  top: 16%;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .slot_box, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .slot_box, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .slot_box {
  background: #ec414a;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box {
  background: #37b6fa;
  overflow: hidden;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .img_box .up_img img, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .img_box .up_img img, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .img_box .up_img img {
  max-width: 100%;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box {
  background: #5c50ff;
  overflow: hidden;
}

.grouptemplate_wrapper .template_box .template_center .mid .slot_wrapper .video_box .up_img img, .grouptemplate_wrapper .template_box .template_center .mid .img_wrapper .video_box .up_img img, .grouptemplate_wrapper .template_box .template_center .mid .video_wrapper .video_box .up_img img {
  max-width: 100%;
}

.grouptemplate_wrapper .template_box .template_center .mid .txt_wrapper {
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
  cursor: pointer;
  position: absolute;
  border: none;
  width: 220px;
  height: 40px;
  border: 1px solid #e5e5e5;
}

.grouptemplate_wrapper .template_box .template_center .mid .txt_wrapper .txt_box {
  font-size: 18px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 6px;
}

.grouptemplate_wrapper .template_box .template_center .mid .txt_wrapper .txt_box .txt {
  width: 100%;
  height: 100%;
  line-height: 1.2;
}

.grouptemplate_wrapper .template_box .template_center .mid .txt_wrapper .txt_write {
  position: absolute;
  left: 0;
  background: #ccc;
  width: 100%;
  padding-top: 10px;
}

.grouptemplate_wrapper .template_box .template_center .mid .txt_wrapper textarea {
  width: 100%;
  font-size: 12px;
}

.grouptemplate_wrapper .template_box .template_center .mid .weather_wrapper {
  min-width: 120px;
  height: 36px;
  background-color: #fff;
  position: absolute !important;
  cursor: pointer;
}

.grouptemplate_wrapper .template_box .template_center .mid .weather_wrapper .weather_box {
  height: 100%;
}

.grouptemplate_wrapper .template_box .template_center .mid .weather_wrapper .weather_box .nodata {
  height: 100%;
  line-height: 36px;
  text-align: center;
}

.grouptemplate_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul {
  height: 100%;
}

.grouptemplate_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul li {
  float: left;
  margin-top: 0.45rem;
  margin-right: 0.4rem;
  min-height: 18px;
  font-size: 0;
}

.grouptemplate_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul li i {
  font-size: 20px;
  display: inline-block;
}

.grouptemplate_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul li span {
  vertical-align: top;
  display: inline-block;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
}

.grouptemplate_wrapper .template_box .template_center .mid .time_wrapper {
  background: #999;
  width: 200px;
  height: 36px;
  cursor: pointer;
  position: absolute;
}

.grouptemplate_wrapper .template_box .template_center .mid .time_wrapper .time_box {
  height: 100%;
  line-height: 36px;
  text-align: center;
}

.grouptemplate_wrapper .template_box .template_center .mid .web_wrapper {
  min-width: 10px;
  width: 300px;
  min-height: 10px;
  height: 150px;
  cursor: pointer;
  position: absolute;
}

.grouptemplate_wrapper .template_box .template_center .mid .web_wrapper .web_box {
  width: 100%;
  height: 100%;
  background: rgba(249, 162, 78, 0.7);
  position: relative;
}

.grouptemplate_wrapper .template_box .template_center .mid .web_wrapper .web_box .web_bgimg {
  width: 66%;
  height: 66%;
  position: absolute;
  top: 20%;
  left: 25%;
  background: url(../../assets/images/web_bg.png) no-repeat;
  background-size: 70%;
}

.grouptemplate_wrapper .fl {
  float: left;
}

.grouptemplate_wrapper .ml14 {
  margin-left: 14px;
}

.grouptemplate_wrapper .fr {
  float: right;
}

.grouptemplate_wrapper .cf::after {
  content: '';
  display: table;
  clear: both;
}

.grouptemplate_wrapper .pr {
  position: relative;
}

.grouptemplate_wrapper .ml10 {
  margin-left: 10px;
}

.paging {
  margin-top: 16px;
}
