    @import "base.scss";
    .statement-statistics {
        width: 100%;
        height: 100%;
        .top {
            line-height: 56px;
            margin-left: 20px;
            span {
                font-size: 12px;
            }
            .crumbs {}
        }
        .bottom {
            background-color: $white;
            padding: 20px;
            .tabs {
                .tabs-advertising {
                    div {
                        width: 120px;
                        height: 34px;
                        border-radius: 3px;
                        line-height: 34px;
                        text-align: center;
                        background-color: $bgColor;
                        color: $impTextColor;
                        margin-right: 10px;
                    }
                    .advertising {
                        border-radius: 3px 0 0 3px!important;
                    }
                    .advertising-group {
                        border-radius: 0 3px 3px 0!important;
                    }
                }
            } // 广告
            .advertising {
                .condition {
                    .condition-info {
                        padding: 20px;
                        background: $bgColor;
                    }
                    .condition-content {
                        margin-bottom: 10px;
                        .popularization-plan {
                            .popularization-plan-info {}
                            .popularization-plan-input {}
                        }
                    }
                    .condition-search {
                        margin-left: 77px;
                        margin-top: 5px;
                        a {
                            margin-right: 6px;
                        }
                    }
                }
                .row3 {
                    box-sizing: border-box;
                    .bg {
                        text-align: center;
                        width: 120px;
                        height: 34px;
                        cursor: pointer;
                        line-height: 34px;
                        border: 1px solid $sublineColor;
                        border-bottom: none;
                        border-right: none;
                        box-sizing: border-box;
                    }
                    .bg:last-child {
                        border-right: 1px solid $sublineColor;
                    }
                }
            } // 广告组
            .advertising-group {
            }
        }
    }

    .el-breadcrumb {
        font-size: 14px;
        line-height: 1;
    }