.template_wrapper {
  user-select: none;
  color: #333333;
  margin-top: 60px;
}

.template_wrapper .save_corver {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.template_wrapper .save_corver .txt {
  margin-right: 14px;
  font-size: 16px;
}

.template_wrapper .template_box {
  background: #fff;
  min-width: 1050px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  min-height: 400px;
  padding: 30px;
  box-sizing: border-box;
}

.template_wrapper .template_box .template_left .title {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}

.template_wrapper .template_box .template_left .module_list {
  width: 130px;
}

.template_wrapper .template_box .template_left .module_list .item {
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 999;
  margin-right: 13px;
}

.template_wrapper .template_box .template_left .module_list .item i {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  font-size: 48px;
  font-weight: 400;
  color: #333333;
}

.template_wrapper .template_box .template_left .module_list .item p {
  font-size: 12px;
  width: 50px;
  text-align: center;
}

.template_wrapper .template_box .template_left .module_list .item:hover i {
  border-color: #ff635c;
  color: #ff635c;
}

.template_wrapper .template_box .template_left .module_list .item:hover p {
  color: #ff635c;
}

.template_wrapper .template_box .template_left .module_list .active i {
  border-color: #ff635c;
  color: #ff635c;
}

.template_wrapper .template_box .template_left .module_list .active p {
  color: #ff635c;
}

.template_wrapper .template_box .template_center {
  overflow: hidden;
}

.template_wrapper .template_box .template_center .top {
  margin-bottom: 10px;
}

.template_wrapper .template_box .template_center .top .center_parent li {
  float: left;
  margin-right: 6px;
}

.template_wrapper .template_box .template_center .top .center_parent li i {
  display: block;
  width: 24px;
  height: 24px;
  background: no-repeat;
  background-color: #666;
  background-position-y: 1px;
  cursor: pointer;
  border-radius: 4px;
}

.template_wrapper .template_box .template_center .top .center_parent li .gotop {
  /*background-position-x: 1px;*/
  margin-left: 0;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .godown {
  background-position-x: -30px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .goleft {
  background-position-x: -59px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .goright {
  background-position-x: -90px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .left_right {
  background-position-x: -120px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .top_down {
  background-position-x: -150px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .goall {
  background-position-x: -180px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .gomin {
  background-position-x: -210px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .gomax {
  background-position-x: -240px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .top .center_parent li .goremove {
  background-position-x: -270px;
  background-image: url("../../assets/images/template_icon.png");
}

.template_wrapper .template_box .template_center .mid {
  width: 960px;
  height: 540px;
  background: url("../../assets/images/template_bg.png");
}

.template_wrapper .template_box .template_center .mid .layout_corver {
  display: none;
}

.template_wrapper .template_box .template_center .mid .inter_wrapper {
  box-sizing: border-box;
  min-width: 10px;
  width: 80px;
  min-height: 10px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
}

.template_wrapper .template_box .template_center .mid .inter_wrapper .inter_box {
  width: 100%;
  height: 100%;
}

.template_wrapper .template_box .template_center .mid .inter_wrapper .inter_box .inter_bgimg {
  width: 60px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 10px);
}

.template_wrapper .template_box .template_center .mid .inter_wrapper .inter_box .up_img img {
  max-width: 100%;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper, .template_wrapper .template_box .template_center .mid .img_wrapper, .template_wrapper .template_box .template_center .mid .video_wrapper {
  box-sizing: border-box;
  min-width: 10px;
  width: 300px;
  min-height: 10px;
  height: 150px;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .slot_name, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_name, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_name {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 20px;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box, .template_wrapper .template_box .template_center .mid .slot_wrapper .img_box, .template_wrapper .template_box .template_center .mid .slot_wrapper .video_box, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .img_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .video_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .img_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .img_box .img_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .img_box .video_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .video_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .video_box .img_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .video_box .video_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box .img_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box .video_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box .img_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box .video_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box .img_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box .video_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box .img_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box .video_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box .img_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box .video_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box .img_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box .video_bgimg {
  width: 66%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 25%;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .img_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .video_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box .slot_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box .slot_bgimg {
  background: url("../../assets/images/ad_bg.png") no-repeat;
  background-size: 60%;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .img_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .img_box .img_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .video_box .img_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box .img_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box .img_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box .img_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box .img_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box .img_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box .img_bgimg {
  background: url("../../assets/images/img_bg.png") no-repeat;
  background-size: 60%;
  top: 16%;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box .video_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .img_box .video_bgimg, .template_wrapper .template_box .template_center .mid .slot_wrapper .video_box .video_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box .video_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box .video_bgimg, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box .video_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box .video_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box .video_bgimg, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box .video_bgimg {
  background: url("../../assets/images/video_bg.png") no-repeat;
  background-size: 60%;
  top: 16%;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .slot_box, .template_wrapper .template_box .template_center .mid .img_wrapper .slot_box, .template_wrapper .template_box .template_center .mid .video_wrapper .slot_box {
  background: #ec414a;
  overflow: hidden;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .img_box, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box {
  background: #37b6fa;
  overflow: hidden;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .img_box .up_img img, .template_wrapper .template_box .template_center .mid .img_wrapper .img_box .up_img img, .template_wrapper .template_box .template_center .mid .video_wrapper .img_box .up_img img {
  max-width: 100%;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .video_box, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box {
  background: #5c50ff;
  overflow: hidden;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .video_box .up_img img, .template_wrapper .template_box .template_center .mid .img_wrapper .video_box .up_img img, .template_wrapper .template_box .template_center .mid .video_wrapper .video_box .up_img img {
  max-width: 100%;
}

.template_wrapper .template_box .template_center .mid .slot_wrapper .layout_corver, .template_wrapper .template_box .template_center .mid .img_wrapper .layout_corver, .template_wrapper .template_box .template_center .mid .video_wrapper .layout_corver {
  display: none;
}

.template_wrapper .template_box .template_center .mid .txt_wrapper {
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
  cursor: pointer;
  position: absolute;
  border: none;
  width: 220px;
  height: 40px;
  border: 1px solid #e5e5e5;
}

.template_wrapper .template_box .template_center .mid .txt_wrapper .txt_box {
  font-size: 18px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 6px;
}

.template_wrapper .template_box .template_center .mid .txt_wrapper .txt_box .txt {
  width: 100%;
  height: 100%;
  line-height: 1.2;
}

.template_wrapper .template_box .template_center .mid .txt_wrapper .txt_write {
  position: absolute;
  left: 0;
  background: #ccc;
  width: 100%;
  padding-top: 10px;
}

.template_wrapper .template_box .template_center .mid .txt_wrapper textarea {
  width: 100%;
  font-size: 12px;
}

.template_wrapper .template_box .template_center .mid .weather_wrapper {
  min-width: 120px;
  height: 40px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute !important;
  cursor: pointer;
}

.template_wrapper .template_box .template_center .mid .weather_wrapper .weather_box {
  height: 100%;
}

.template_wrapper .template_box .template_center .mid .weather_wrapper .weather_box .nodata {
  height: 100%;
  line-height: 36px;
  text-align: center;
}

.template_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul {
  height: 100%;
}

.template_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul li {
  float: left;
  margin-top: 8px;
  margin-right: 7px;
  min-height: 18px;
  font-size: 0;
}

.template_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul li i {
  font-size: 20px;
  display: inline-block;
}

.template_wrapper .template_box .template_center .mid .weather_wrapper .weather_box ul li span {
  vertical-align: top;
  display: inline-block;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
}

.template_wrapper .template_box .template_center .mid .time_wrapper {
  background: #999;
  width: 220px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
}

.template_wrapper .template_box .template_center .mid .time_wrapper .time_box {
  height: 100%;
  line-height: 36px;
  text-align: center;
}

.template_wrapper .template_box .template_center .mid .web_wrapper {
  min-width: 10px;
  width: 300px;
  min-height: 10px;
  height: 150px;
  cursor: pointer;
  position: absolute;
}

.template_wrapper .template_box .template_center .mid .web_wrapper .web_box {
  width: 100%;
  height: 100%;
  background: rgba(249, 162, 78, 0.7);
  position: relative;
}

.template_wrapper .template_box .template_center .mid .web_wrapper .web_box .web_bgimg {
  width: 66%;
  height: 66%;
  position: absolute;
  top: 20%;
  left: 25%;
  background: url(../../assets/images/web_bg.png) no-repeat;
  background-size: 70%;
}

.template_wrapper .template_box .template_center .mid .select_template:before {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/images/select_bg.png");
  height: 6px;
  background-size: 100%;
  z-index: 20;
}

.template_wrapper .template_box .template_center .mid .select_template:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../../assets/images/select_bg.png");
  height: 6px;
  background-size: 100%;
}

.template_wrapper .template_box .template_right {
  padding-top: 34px;
  margin-left: 14px;
  font-size: 12px;
  width: 270px;
  padding-bottom: 36px;
  min-height: 574px;
  box-sizing: border-box;
}

.template_wrapper .template_box .template_right .right_item1 {
  background-color: #f5f5f5;
  padding: 6px 10px;
  vertical-align: middle;
  margin-bottom: 0;
}

.template_wrapper .template_box .template_right .right_item1 .title {
  margin: 10px 0;
}

.template_wrapper .template_box .template_right .right_item1 .name_box {
  margin-bottom: 0;
}

.template_wrapper .template_box .template_right .right_item1 .size_box {
  background: #f5f5f5;
  margin-top: 13px;
}

.template_wrapper .template_box .template_right .right_item1 .size_box .el-form-item__label {
  margin-right: 12px;
}

.template_wrapper .template_box .template_right .right_item1 .size_box .txt_size {
  padding: 8px 8px 0 0;
  box-sizing: border-box;
  display: inline-block;
}

.template_wrapper .template_box .template_right .right_item1 .size_box .type_box {
  margin-top: 5px;
  height: 30px;
  width: 100%;
}

.template_wrapper .template_box .template_right .right_item1 .size_box .type_box .inline-wrapper {
  float: left;
  margin-right: 16px;
}

.template_wrapper .template_box .template_right .right_item2 {
  background-color: #f5f5f5;
  padding: 6px 10px;
  margin-top: 12px;
}

.template_wrapper .template_box .template_right .right_item2 .title {
  margin: 10px 0;
}

.template_wrapper .template_box .template_right .right_item2 .position_box {
  margin-left: 16px;
}

.template_wrapper .template_box .template_right .right_item2 .position_box .position_left {
  float: left;
  width: 50%;
}

.template_wrapper .template_box .template_right .right_item2 .position_box .position_left .positionX_title {
  width: 20px;
  display: inline-block;
  line-height: 30px;
  float: left;
  margin-right: 4px;
  text-align: center;
}

.template_wrapper .template_box .template_right .right_item2 .position_box .position_left .el-input {
  float: left;
  width: 68%;
}

.template_wrapper .template_box .template_right .right_item2 .position_box .position_top {
  float: left;
  width: 50%;
}

.template_wrapper .template_box .template_right .right_item2 .position_box .position_top .positionY_title {
  width: 20px;
  display: inline-block;
  line-height: 30px;
  float: left;
  margin-right: 4px;
  text-align: center;
}

.template_wrapper .template_box .template_right .right_item2 .position_box .position_top .el-input {
  float: left;
  width: 68%;
}

.template_wrapper .template_box .template_right .right_item2 .item_size_box {
  margin-top: 10px;
}

.template_wrapper .template_box .template_right .right_item2 .item_size_box .item_width {
  float: left;
  width: 50%;
}

.template_wrapper .template_box .template_right .right_item2 .item_size_box .item_width .item_width_title {
  width: 20px;
  display: inline-block;
  line-height: 30px;
  float: left;
  margin-right: 4px;
  text-align: center;
}

.template_wrapper .template_box .template_right .right_item2 .item_size_box .item_width .el-input {
  float: left;
  width: 68%;
}

.template_wrapper .template_box .template_right .right_item2 .item_size_box .item_height {
  float: left;
  width: 50%;
}

.template_wrapper .template_box .template_right .right_item2 .item_size_box .item_height .item_height_title {
  width: 20px;
  display: inline-block;
  line-height: 30px;
  float: left;
  margin-right: 4px;
  text-align: center;
}

.template_wrapper .template_box .template_right .right_item2 .item_size_box .item_height .el-input {
  float: left;
  width: 68%;
}

.template_wrapper .template_box .template_right .right_item3 {
  background-color: #f5f5f5;
  padding: 8px 10px;
  margin: 12px 0;
}

.template_wrapper .template_box .template_right .right_item3 .title {
  margin: 10px 0;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .show {
  display: block;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item1 {
  padding-bottom: 20px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item1 .slot_box .item_height_title {
  width: 70px;
  display: inline-block;
  line-height: 30px;
  float: left;
  margin-right: 4px;
  text-align: center;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item1 .slot_box .el-input {
  float: left;
  width: 160px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item2 {
  padding-bottom: 20px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item2 .img_upload_box button {
  border: none;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item2 .img_upload_box .item {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  float: left;
  margin-left: 20px;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item2 .img_upload_box .item i {
  font-size: 32px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item2 .img_upload_box .item:hover {
  color: #ff635c;
  border-color: #ff635c;
  border-radius: 0;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item3 {
  padding-bottom: 20px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item3 .video_upload_box .item {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  float: left;
  margin-left: 20px;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item3 .video_upload_box .item i {
  font-size: 32px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item3 .video_upload_box .item:hover {
  color: #ff635c;
  border-color: #ff635c;
  border-radius: 0;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item4 .txt_infor .txt_item {
  float: left;
  margin-right: 16px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item4 .txt_infor .txt_item .txt_font_color, .template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item4 .txt_infor .txt_item .txt_bg_color {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 6px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item4 .txt_infor .speed_wrapper {
  margin-top: 12px;
  float: left;
  width: 100%;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item4 .txt_infor .orientation_wrapper {
  margin-top: 12px;
  float: left;
  width: 100%;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item5 .txt_infor .txt_item {
  float: left;
  margin-right: 16px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item5 .txt_infor .txt_item .txt_font_color, .template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item5 .txt_infor .txt_item .txt_bg_color {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 6px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item5 .txt_infor .weather_box {
  margin-top: 12px;
  float: left;
  width: 100%;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item5 .txt_infor .weather_box .weather_title {
  float: left;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item5 .txt_infor .weather_box .weather_title .el-checkbox-group {
  float: left;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item6 {
  padding-bottom: 14px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item6 .txt_infor .txt_item {
  float: left;
  margin-right: 16px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item6 .txt_infor .txt_item .txt_font_color, .template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item6 .txt_infor .txt_item .txt_bg_color {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 6px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item6 .txt_infor .weather_box {
  margin-top: 12px;
  float: left;
  width: 100%;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item6 .txt_infor .weather_box .weather_title {
  float: left;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item6 .txt_infor .weather_box .weather_title .el-checkbox-group {
  float: left;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item7 {
  padding-bottom: 14px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item7 .web_box_item .item_height_title {
  width: 70px;
  display: inline-block;
  line-height: 30px;
  float: left;
  margin-right: 4px;
  text-align: center;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item7 .web_box_item .el-input {
  float: left;
  width: 160px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item7 .web_btn {
  margin-top: 12px;
  text-align: center;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 button {
  width: 0;
  border: 0;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_top .txt {
  width: 58px;
  float: left;
  margin-top: 8px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_top .inter_btnbox {
  float: left;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_top .inter_btnbox .yxf-but {
  width: 74px;
  min-width: 74px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom {
  margin-top: 4px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .txt {
  width: 56px;
  float: left;
  margin-top: 8px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .inter_radio {
  width: 192px;
  float: left;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .inter_radio .el-radio {
  margin-right: 10px;
  margin-left: 4px;
  margin-top: 8px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .btm_box {
  margin-top: 10px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .btm_box .item {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  float: left;
  margin-left: 20px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .btm_box .item i {
  font-size: 22px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .btm_box .add_upload {
  margin-left: 60px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .btm_box .item:hover {
  color: #ff635c;
  border-color: #ff635c;
  border-radius: 0;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .btm_box .interUrl_box {
  float: left;
  margin-top: 2px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .inter_bottom .btm_box .interUrl_box i {
  cursor: pointer;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .img_list {
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 10px;
}

.template_wrapper .template_box .template_right .right_item3 .wrapper .wrapper_item8 .img_list img {
  max-width: 100px;
  max-height: 100px;
}

.template_wrapper .template_box .template_right .right_item4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1630px) {
  .template_wrapper .template_box .template_right {
    width: 100%;
    min-height: auto;
  }
  .template_wrapper .template_box .template_right .right_wrapper {
    margin-left: 115px;
  }
  .template_wrapper .template_box .template_right .right_wrapper .right_item1 {
    float: left;
    width: 270px;
    height: 162px;
    box-sizing: border-box;
  }
  .template_wrapper .template_box .template_right .right_wrapper .right_item2 {
    float: left;
    width: 270px;
    height: 162px;
    margin-top: 0;
    margin-left: 16px;
    box-sizing: border-box;
  }
  .template_wrapper .template_box .template_right .right_wrapper .right_item3 {
    float: left;
    width: 270px;
    margin-top: 0;
    margin-left: 16px;
    box-sizing: border-box;
  }
  .template_wrapper .template_box .template_right .right_wrapper .right_item4 {
    width: 960px;
  }
  .template_wrapper .template_box .template_right:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 1350px) {
  .template_wrapper .template_box .template_left {
    width: 100%;
  }
  .template_wrapper .template_box .template_left .title {
    float: left;
    margin-top: 20px;
    margin-right: 16px;
  }
  .template_wrapper .template_box .template_left .module_list {
    width: 80%;
    float: left;
  }
  .template_wrapper .template_box .template_right {
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
  .template_wrapper .template_box .template_right .right_wrapper {
    margin-left: 0;
  }
}

.template_wrapper .library .library_title {
  background: #f5f5f5;
  padding: 20px;
  height: 30px;
  line-height: 30px;
}

.template_wrapper .fl {
  float: left;
}

.template_wrapper .ml14 {
  margin-left: 14px;
}

.template_wrapper .fr {
  float: right;
}

.template_wrapper .cf::after {
  content: '';
  display: table;
  clear: both;
}

.template_wrapper .pr {
  position: relative;
}

.template_wrapper .ml10 {
  margin-left: 10px;
}

.library .library_item {
  width: 20%;
  height: 180px;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 2%;
}

.library .library_item .file-type {
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

.library .library_item .file-type img {
  max-width: 100%;
}

.library .paging {
  margin-top: 16px;
}
