@import "./base.scss";
.addAdv{
    font-size: 0.3rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    *{
        box-sizing: border-box;
    }
    .addAdv_content{
        padding-bottom: 1.1rem;
    }
    .title{
        height: 0.77rem;
        background: $bgColor;
        border-bottom:1px solid $sublineColor;
        padding-top: 0.24rem;
        span{
            font-size: 0.28rem;
            margin-left: 0.24rem;
            color: $contenTextColor;
        }
    }
    .addAdv_wrapper{
        padding-left: 0.24rem;
        background: $white;
        box-sizing: border-box;
        width: 100%;
        .item{
            width: 100%;
            display: flex;
            padding-top: 0.12rem;
            box-sizing: border-box;
            border-bottom:1px solid $sublineColor;
            position: relative;
            .pl24{
                padding-left: 0.24rem;
            }
            .item_left{
                width: 1.8rem;
                min-width: 1.8rem;
                color: $contenTextColor;
                line-height: 2.4;
                height: 0.76rem;
                span{
                    color: $impColor;
                }
                .time{
                    color: $defaultText;
                    position: relative;
                    .cover{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(255,255,255,0);
                    }
                }
            }
            .item_right{
                flex: 1;
                line-height: 2.4;
                color: $contenTextColor;
                font-size: 0.28rem;
                padding-left: 0.12rem;
                input{
                    color: $impTextColor;
                    font-size: 0.28rem;
                    width: 4rem;
                    height: 0.7rem;
                    border-bottom:1px solid $sublineColor;
                }
                .time{
                    color: $defaultText;
                    position: relative;
                }
                .item_gtoup{
                    color: $defaultText;
                    border-bottom:1px solid $sublineColor;
                    padding-left: 0.12rem;
                }
                .item_slot{
                    .deffault{
                        color: $sublineColor;
                        padding-left:0.12rem;
                    }
                }
                .item_slot{
                    padding-left:0.12rem;
                }
            }
            .adv_position{
                margin-top: 0.35rem;
            }
            .plan_name{
                font-size: 0.28rem;
                color: $impTextColor;
                position: relative;
            }
            
        }
        .no_border{
            border: 0;
        }
    }
    .icon_right{
        margin-right: 0.24rem;
        color: $sublineColor;
        position: absolute;
        top: 0;
        right: 0;
    }
    .saveAdv_wrapper{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        background: $white;
        height: 0.98rem;
        width: 100%;
        .save_adv{
            width: 96%;
            margin: 0.12rem auto;
            height: 0.74rem;
            line-height: 0.74rem;
            text-align: center;
            background: $impColor;
            color: $white;
            border-radius: 0.04rem;
        }
    }
    .upload_wrapper{
        .upload_box{
            width: 3.44rem;
            display: flex;
            margin: 0 auto;
            margin-left: 0.4rem;
            .upload_img,.upload_text{
                width: 50%;
                height: 1.6rem;
                background: $bgColor;
            }
            .upload_img{
                text-align: center;
                font-size: 0;
                position: relative;
                border-radius: 0.04rem; 
                i{
                    font-size: 0.48rem
                }
                p{
                    font-size: 0.28rem;
                    line-height: 1;
                    position: absolute;
                    bottom: 0.4rem;
                    left: 0.24rem;
                }
            }
            .upload_text{
                margin-left: 0.24rem; 
                text-align: center;
                font-size: 0;
                position: relative; 
                border-radius: 0.04rem;
                i{
                    font-size: 0.48rem
                }
                p{
                    font-size: 0.28rem;
                    line-height: 1;
                    position: absolute;
                    bottom: 0.4rem;
                    left: 0.24rem;
                }
            }
            .advtive_text{
                background: $impColor;
                color: $white;
            }
            button{
                width: 0;
                height: 0;
                padding: 0;
                border: 0;
            }
        }
        .img_lissst{
            .img_item{
                width: 100%;
                display: flex;
                height: 1.6rem;
                .img_content{
                    width: 1.4rem;
                    height: 1.4rem;
                    position: relative;
                    .mt-progress{
                        height: 0.1rem;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        .mt-progress-progress{
                            background: $impColor;
                        }
                    }
                }
                .text_content{
                    flex: 1;
                    padding-left: 0.24rem;
                    text-align: center;
                    padding-top: 0.4rem;
                    input{
                        width: 1.4rem;
                        height: 0.8rem;
                        padding: 0.12rem 0.16rem;
                        border-bottom:1px solid $sublineColor;
                    }
                }
                .remove_content{
                    width: 1.2rem;
                    height: 100%;
                    padding-top: 0.6rem;
                    a{
                        width: 100%;
                        height: 70%;
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;
                        background: $impColor;
                        color: $white;
                        border-radius: 0.04rem;
                    }
                }
            }
        }
    }
    .slot_box{
        min-height:1.9rem;
        overflow: hidden;
        .initText{
            text-align: center;
            line-height: 1.9rem;
            color: $sublineColor;
        }
    }
}