input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.add-device {
  height: 100%;
  width: 100%;
}

.add-device .add-device-info {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.add-device .add-device-info .add-device-number {
  display: flex;
  height: 0.98rem;
  margin-left: 0.22rem;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid #dedede;
}

.add-device .add-device-info .add-device-number-left {
  width: 1.6rem;
  font-size: 0.28rem;
  color: #333333;
}

.add-device .add-device-info .add-device-number-left span {
  color: #ff5663;
}

.add-device .add-device-info .add-device-number-right {
  flex: 1;
}

.add-device .add-device-info .add-device-number-right .write-num .write-input {
  display: flex;
}

.add-device .add-device-info .add-device-number-right .write-num .write-input li {
  width: 0.4rem;
  height: 0.48rem;
  text-align: center;
  border: 1px solid #dedede;
}

.add-device .add-device-info .add-device-number-right .write-num .write-input li input {
  font-size: .28rem;
  width: 0.4rem;
  height: 0.48rem;
  text-align: center;
}

.add-device .add-device-info .add-device-name {
  border-bottom: 1px solid #dedede;
  display: flex;
  height: 0.98rem;
  box-sizing: border-box;
  align-items: center;
  background: #ffffff;
}

.add-device .add-device-info .add-device-name-left {
  width: 1.6rem;
  color: #333333;
  padding-left: 0.22rem;
  font-size: 0.28rem;
}

.add-device .add-device-info .add-device-name-left span {
  color: #ff5663;
}

.add-device .add-device-info .add-device-name-right {
  flex: 1;
  height: 100%;
}

.add-device .add-device-info .add-device-name-right input {
  font-size: .28rem;
  height: 100%;
  width: 100%;
}
