@charset "utf-8";
@import "./base.scss";
.add-device-group {
    .device-style {
        height: 0.97rem;
        line-height: 0.97rem;
        font-size: 0.3rem;
        padding: 0 0.22rem;
        box-sizing: border-box;
        color: $shallowColor;
        background-color: $white;
    }
    .device-name {
        display: flex;
        color: $contenTextColor;
        border-bottom: 1px solid $sublineColor;
        &-left {
            width: 2rem;
            span {
                color: $impColor;
            }
        }
        &-right {
            flex: 1;
            input {
                font-size: 0.3rem;
                height: 100%;
                width: 100%;
            }
        }
    }
    .device-type {
        display: flex;
        border-bottom: 1px solid $sublineColor;
        &-left {
            width: 2rem;
        }
        &-right {
            flex: 1;
        }
    }
    .device-tmp {
        height: 100%;
        display: flex;
        color: $contenTextColor;
        border-bottom: 1px solid $sublineColor;
        padding-bottom: 0.34rem;
        &-left {
            width: 2rem; 
            span {
                color: $impColor;
            }
        }
        &-right {
            flex: 1;
            .device-tmp-right-name {
                position: relative;
                height: 0.98rem;
                i{
                    position: absolute;
                    right: 0.2rem;
                }
            }
            .device-tmp-right-picture {
                height: 2.86rem;
                width: 100%;
            }
        }
    }
}