.audit{
    height: 100%;
    overflow: hidden;
    .audit_navbar{
        height:calc(100% - 1.04rem);
        height: -moz-calc(100% - 1.04rem);
        height: -webkit-calc(100% - 1.04rem);
        overflow: hidden;
        .img_wrapper{
            width: 3rem;
            position: absolute;
            top: calc(40% - 1.5rem);
            left: calc(50% - 1.5rem);
        }
        .mint-tab-container{
            height: 100%;
            .mint-tab-container-wrap{
                height: 100%;
                .mint-tab-container-item{
                    height:calc(100% - 0.8rem);
                    height: -moz-calc(100% - 0.8rem);
                    height: -webkit-calc(100% - 0.8rem);
                }
            }
        }
    }
}