@charset "utf-8";
@import "./base.scss";
.device-detail-info {
  background-color: $white;
  .device-style {
    height: 0.97rem;
    line-height: 0.97rem;
    font-size: 0.3rem;
    margin-left: 0.22rem;
    box-sizing: border-box;
    color: $contenTextColor;
    background-color: $white;
    border-bottom: 1px solid $sublineColor;
  }
  .device-number {
    display: flex;
    &-left {
      width: 2rem;
    }
    &-right {
    }
  }
  .device-name {
    display: flex;
    color: $contenTextColor;
    &-left {
      width: 2rem;
      span {
        color: $impColor;
      }
    }
    &-right {
      flex: 1;
      input {
        font-size: 0.3rem;
        height: 100%;
        width: 100%;
      }
    }
  }
  .device-type {
    display: flex;
    &-left {
      width: 2rem;
    }
    &-right {
    }
  }
  .belong-to-device-group {
    display: flex;
    &-left {
      width: 2rem;
    }
    &-right {
    }
  }
  .belong-to-area {
    display: flex;
    justify-content: space-between;
    padding-right: 0.22rem;
    &-left {
      width: 2rem;
    }
    &-conent {
      flex: 1;
    }
    &-right {
      width: 0.3rem;
    }
  }
  .device-tmp {
    height: 100%;
    display: flex;
    color: $contenTextColor;
    border-bottom: 1px solid $sublineColor;
    padding-bottom: 0.34rem;
    &-left {
      width: 2rem;
      span {
        color: $impColor;
      }
    }
    &-right {
      flex: 1;
      .device-tmp-right-name {
        height: 0.98rem;
      }
      .device-tmp-right-picture {
        height: 2.86rem;
        width: 100%;
        padding-right: 0.22rem;
        box-sizing: border-box;
      }
    }
  }
  .detailed-address {
    display: flex;
    &-left {
      width: 2rem;
      span {
        color: $impColor;
      }
    }
    &-right {
      flex: 1;
      input {
        font-size: 0.3rem;
        height: 100%;
        width: 100%;
      }
    }
  }
  .remark {
    display: flex;
    &-left {
      width: 2rem;
      span {
        color: $impColor;
      }
    }
    &-right {
      flex: 1;
      input {
        font-size: 0.3rem;
        height: 100%;
        width: 100%;
      }
    }
  }
  .save {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1rem;
    width: 100%;
    border-top: 1px solid $sublineColor;
    padding: 0.08rem 0.1rem;
    a {
      display: inline-block;
      background-color: $impColor;
      color: $white;
      font-size: 0.3rem;
      width: 100%;
      line-height: 2.4em;
      text-align: center;
      border-radius: 0.05rem;
    }
  }
}
