@charset "utf-8";
@import "./base.scss";
.device-detail {
    .issueAdvertising {
        height: .8rem;
        line-height: .8rem;
        font-weight: 700;
        font-size: .32rem;
        color: $impTextColor;
        padding-left: .22rem;
    }
    .mint-tabbar {
        border-top: 1px solid $sublineColor;
        display: flex;
        .bofangliebiao {
            flex: 1;
        }
        .shebeixiangqing {
            flex: 1;
        }
        .bianjixinxi {
            flex: 1;
        }
        .yuanchengkongzhi {
            flex: 1;
        }
    }
    &-info {
        height: 5.7rem;
        width: 100%;
        padding: 0 0.2rem;
        box-sizing: border-box;
        background: $white;
        .advitising-type {
            padding-top: 0.33rem;
            height: 0.9rem;
            font-size: 0.32rem; // font-weight: bold;
            box-sizing: border-box;
        }
        .advitising-picture {
            height: 5.7-0.85-0.9rem;
            font-size: 0.3rem;
            text-align: center;
        }
        .tem-name {
            padding-top: .24rem;
            height: 0.85rem;
            text-align: center;
            font-size: 0.32rem;
            color: $contenTextColor;
            box-sizing: border-box;
        }
    }
    .addAdv {
        height: 100%;
        background: $white; // padding: 0 .22rem;
        .addAdv-name {
            padding: 0 .22rem;
            height: 1rem;
            line-height: 1rem;
            font-size: .3rem;
            border-bottom: 1px solid $sublineColor;
            box-sizing: border-box;
        }
    }
    .issue-instancy-advertising {
        margin-top: 0.2rem;
        height: 0.8rem;
        font-size: 0.3rem;
        color: $contenTextColor;
        width: 100%;
        line-height: 0.8rem;
        text-align: center;
        background: $white;
    }
}