@charset "utf-8";
@import "./base.scss";
.home {
    height: 100%;
    .mint-tabbar {
        border-top: 1px solid $sublineColor;
        display: flex;
        .shebei{
            flex: 1;
        }
        .guanggao{
            flex: 1;
        }
        .shenhe{
            flex: 1;
        }
        .wode{
            flex:1;
        }
    }
}