@charset "utf-8";
@import "./base.scss";
.login {
    height: 100%;
    width: 100%;
    .head {
        box-sizing: border-box;
        color: $impColor;
        padding-top: 1.6rem;
        .head-tubiao {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            i:first-child {
                font-size: 0.82rem;
            }
            i:last-child {
                margin-left: 0.1rem;
                font-size: 0.4rem;
            }
        }
        .head-info {
            margin-bottom: 2.18rem;
            display: flex;
            justify-content: center;
            font-size: 0.36rem;
        }
    }
    .main {
        i {
            position: absolute;
            top: 0.23rem;
            left: 1rem;
            font-size: .4rem
        }
        .account-number {
            display: flex;
            justify-content: center;
            position: relative;
            input {
                box-sizing: border-box;
                padding-left: .8rem;
                height: .86rem;
                width: 5.8rem;
                font-size: .28rem;
                border-radius: .1rem;
                border: 1px solid $sublineColor;
            }
        }
        .password {
            display: flex;
            justify-content: center;
            margin: .2rem 0 .2rem;
            position: relative;
            input {
                box-sizing: border-box;
                padding-left: .8rem;
                height: .86rem;
                width: 5.8rem;
                font-size: .28rem;
                border-radius: .1rem;
                border: 1px solid $sublineColor;
            }
        }
        .binding-information {
            display: flex;
            justify-content: center;
            font-size: .26rem;
            height: 0.2rem;
            margin-bottom: 0.2rem;
            .binding-information-info {
                width: 5.8rem;
                vertical-align: middle;
                input {
                    height: .38rem;
                    width: .38rem;
                }
                span {}
            }
        }
        .hint {
            margin-bottom: 0.8rem;
             display: flex;
            justify-content: center;
            .hint-info{
                width: 5.8rem;
            }
        }
        .register {
            height: .88rem;
            width: 5.8rem;
            background-color: $impColor;
            color: $white;
            border-radius: .1rem;
            font-size: .3rem;
            line-height: .88rem;
            text-align: center;
            margin: 0 auto;
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: .28rem;
        width: 100%;
        background-color: $impColor;
    }
}