input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.remote-control .voice div:first-child {
  font-size: 0.28rem;
  height: .79rem;
  line-height: .89rem;
  padding: 0 .22rem;
  box-sizing: border-box;
}

.remote-control .voice .voice-info {
  background-color: #ffffff;
  font-size: 0.28rem;
  height: .97rem;
  padding-top: .12rem;
  box-sizing: border-box;
}

.remote-control .voice .voice-info .voice-info-start i {
  font-size: 0.6rem;
}

.remote-control .voice .voice-info .voice-info-end {
  padding-left: .3rem;
  box-sizing: border-box;
}

.remote-control .voice .voice-info .voice-info-end i {
  font-size: 0.5rem;
}

.remote-control .brightness div:first-child {
  font-size: 0.28rem;
  height: .79rem;
  line-height: .89rem;
  padding: 0 .22rem;
  padding-right: .42rem;
  box-sizing: border-box;
}

.remote-control .brightness .brightness-info {
  background-color: #ffffff;
  font-size: 0.28rem;
  height: .97rem;
  padding-top: .12rem;
  box-sizing: border-box;
}

.remote-control .brightness .brightness-info .brightness-info-start i {
  font-size: 0.4rem;
}

.remote-control .brightness .brightness-info .brightness-info-end {
  padding-left: .3rem;
  box-sizing: border-box;
}

.remote-control .brightness .brightness-info .brightness-info-end i {
  font-size: 0.5rem;
}

.remote-control .cacheTime > div:first-child {
  font-size: 0.28rem;
  height: .79rem;
  line-height: .89rem;
  padding: 0 .22rem;
  box-sizing: border-box;
}

.remote-control .cacheTime .cacheTime-info {
  display: flex;
  padding: 0 .22rem;
  box-sizing: border-box;
  height: .97rem;
  padding-top: .22rem;
  background-color: #ffffff;
}

.remote-control .cacheTime .cacheTime-info .kuang {
  height: .58rem;
  width: .58rem;
  border: 1px solid #dedede;
  box-sizing: border-box;
  line-height: .48rem;
  text-align: center;
  border-radius: .02rem;
}

.remote-control .cacheTime .cacheTime-info .cacheTime-info-content {
  flex: 1;
  height: .58rem;
  border: 1px solid #dedede;
  box-sizing: border-box;
  line-height: .55rem;
  text-align: center;
  border-radius: .02rem;
  margin: 0 .12rem;
  font-size: 0.3rem;
}

.remote-control .cacheTime .cacheTime-info .cacheTime-info-left,
.remote-control .cacheTime .cacheTime-info .cacheTime-info-right {
  font-size: 0.4rem;
  height: .58rem;
  line-height: .55rem;
}

.remote-control .other .other-set {
  font-size: 0.28rem;
  height: .79rem;
  line-height: .89rem;
  padding: 0 .22rem;
  box-sizing: border-box;
}

.remote-control .other .set-timing-switch {
  display: flex;
  justify-content: space-between;
  font-size: 0.28rem;
  height: .97rem;
  line-height: .97rem;
  padding: 0 .22rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}

.remote-control .other .restart {
  font-size: 0.28rem;
  height: .97rem;
  line-height: .97rem;
  padding: 0 .22rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
  display: flex;
}

.remote-control .other .restart .restart-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.remote-control .other .switch {
  display: flex;
  font-size: 0.28rem;
  height: .97rem;
  line-height: .97rem;
  padding: 0 .22rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}

.remote-control .other .switch .switch-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.remote-control .other .clearCache {
  display: flex;
  font-size: 0.28rem;
  height: .97rem;
  line-height: .97rem;
  padding: 0 .22rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}

.remote-control .other .clearCache .clearCache-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
