@charset "utf-8";
@import "./base.scss";
.user {
    height: 100%;
    width: 100%;
    .user-info {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        .account-number {
            margin-bottom: 0.1rem;
            box-sizing: border-box;
            align-items: center;
            height: 2.96rem;
            width: 100%;
            background: url(./../../assets/img/user.png) no-repeat 0 0;
            padding-top: 0.6rem;
            text-align: center;
            .account-number-icon {
                display: inline-block;
                width: 0.86rem;
                height: 0.86rem;
                line-height: 0.86rem;
                border-radius: 50%;
                background: $impColor;
                color: $white;
                font-size: .32rem;
            }
            .account-number-info {
                font-size: 0.28rem;
                color: $impTextColor;
                .account-number-zhanghao {
                    margin-top: 0.1rem;
                }
                .account-number-nicheng {}
            }
        }
        .layout-manage {
            height: 0.8rem;
            box-sizing: border-box; // padding: 0.24rem 0 0.24rem 0.2rem;
            padding: 0 0.2rem;
            background: $white;
            display: flex;
            align-items: center;
            &-icon {
                padding-right: 0.14rem;
                i {
                    color: $impColor;
                    font-size: 0.35rem;
                }
            }
            &-info {
                flex: 1;
                display: flex;
                justify-content: space-between;
                font-size: 0.26rem;
                color: $impTextColor;
                &-left {}
                &-right {
                    i {
                        color: $sublineColor;
                    }
                }
            }
        }
        .adv-dev-manage {
            .adv-manage {
                display: flex;
                align-items: center;
                height: 1.34rem;
                background: $white;
                margin: 0.1rem 0;
                padding: 0.14rem 0;
                box-sizing: border-box;
                align-items: center;
                .all-adv {
                    height: 0.82rem;
                    color: $contenTextColor;
                    flex: 1;
                    text-align: center;
                    margin: auto;
                    div:first-child {
                        margin-top: 0.05rem;
                        font-size: 0.24rem;
                    }
                    div:last-child {
                        font-size: 0.38rem;
                        font-family: 700;
                        color: #000;
                    }
                }
            }
            .dev-manage {
                display: flex;
                align-items: center;
                height: 1.34rem;
                background: $white;
                margin: 0.1rem 0;
                padding: 0.14rem 0;
                box-sizing: border-box;
                align-items: center;
                .all-dev {
                    height: 0.82rem;
                    color: $contenTextColor;
                    flex: 1;
                    text-align: center;
                    margin: auto;
                    div:first-child {
                        margin-top: 0.05rem;
                        font-size: 0.24rem;
                    }
                    div:last-child {
                        font-size: 0.38rem;
                        font-family: 700;
                        color: #000;
                    }
                    .more {
                        i {
                            font-size: 0.38rem;
                            font-family: 700;
                            color: #000;
                        }
                    }
                }
            }
        }
        .exit {
            margin-top: 0.42rem;
            height: 0.8rem;
            line-height: 0.8rem;
            background: $white;
            font-size: 0.28rem;
            color: $impColor;
            text-align: center;
        }
    }
}