// 首页头部和导航css
// head-------------begin
#head {
    background: url(./assets/images/header_bg_01.jpg) repeat-y left top;
    background-size: 100% 100%;
    height: 60px;
    width: 100%;
    .top {
        display: flex;
        .logo {
            a {
                img {
                    height: 60px;
                    width: 260px;
                    margin-top: -20px;
                }
            }
        }
        .tophi {
            display: flex;
            margin-left: 24px;
            line-height: 60px;
            width: 100%;
            font-size: 12px;
            color: #fff;
            justify-content: space-between;
            .topGt {
                ul {
                    display: flex;
                    li {
                        width: 102px;
                        height: 36px;
                        line-height: 60px;
                        text-align: center;
                        margin-top: 3px;
                        a {
                            display: inline-block;
                            width: 102px;
                            height: 36px;
                            text-align: center;
                            line-height: 36px;
                            color: #fff;
                            border-radius: 4px;
                            .big {
                                font-size: 20px;
                            }
                            i {
                                font-size: 18px;
                            }
                        }
                        a:hover {
                            background-color: #eb5635;
                        }
                    }
                }
            }
        }
    }
}

// head---------------end
// nav-------------begin
.main {
    display: flex;
    height: 100%;
    nav {
        width: 240px;
        border-right: 1px solid #d2dbcf;
        box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1);
        ul {
            margin-top: 60px;
            .bg {
                background: #eb5635;
                a {
                    i {
                        color: #fff;
                    }
                    span {
                        color: #fff;
                    }
                }
            }
            li {
                font-size: 14px;
                height: 48px;
                width: 240px;
                padding-left: 15px;
                line-height: 48px;
                a {
                    color: #433933;
                    i {
                        font-size: 24px;
                        width: 54px;
                        color: #eb5635;
                        text-align: center;
                    }
                    span {}
                    i:hover {
                        color: #fff;
                    }
                }
            }
            li:hover {
                background: #eb5635;
                color: #fff;
                a {
                    color: #fff;
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
    .route {
        flex: 1;
    }
}

// nav---------------end