// 报表页面css
.view {
    padding: 0 25px;
    width: 100%;
    height: 100%;
}

// 顶部开始
.head {
    width: 100%;
    height: 42px;
    font-size: 13px;
    padding: 10px;
    margin-left: 5px;
    a {
        color: #666;
    }
}

// 顶部结束
// 主要内容区开始
.biaoge {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    border: 1px solid #ddd;
    margin-top: 21px;
    margin-left: -1px;
    .table-statement {
        width: 100%;
        height: 100%; // 账户收入
        .table {
            height: 32px;
            font-size: 12px;
            border-bottom: 1px solid #bfbfbf;
            line-height: 32px;
            margin: 0;
            .tips {
                margin-left: 20px;
                span {
                    color: #eb5635;
                    font-weight: 900;
                }
            }
        } // 数据类型开始
        .srcArea {
            font-size: 12px;
            padding: 0 20px;
            color: #666; // 第一行
            .one {
                display: flex;
                justify-content: flex-start;
                margin-top: 7px;
                span {}
                .right {
                    display: flex;
                    div {
                        margin-left: 30px;
                    }
                }
            } // 第二行
            .two {
                display: flex;
                justify-content: space-between;
                margin-top: 7px;
                div {
                    margin-left: 1%;
                    min-width: 34px;
                    b {
                        margin-left: -5px;
                        min-width: 16px;
                        color: #666;
                    }
                } // 右边的时间
                .time {
                    margin-top: -5px;
                    input {
                        display: inline-block;
                        height: 30px;
                        width: 100px;
                        border: 1px solid #ccc;
                        border-radius: 6px;
                        padding: 3px;
                    }
                }
            } // 查询按钮
            .center {
                margin-top: 10px;
                text-align: center;
                button {
                    background-color: #eb5635;
                    color: #fff;
                    width: 115px;
                    height: 40px;
                }
            }
            .download {
                margin-top: 20px;
                text-align: right;
                button {
                    background-color: #eb5635;
                    color: #fff;
                    width: 78px;
                    height: 28px;
                    line-height: 14px;
                }
            } // 最下面
            .fenyeCon {
                margin-top: 20px;
                tr {
                    color: #000;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-around;
                    i {
                        color: #999;
                    }
                }
            }
        }
    }
}

// 必须更改的样式
.table>thead>tr>th {
    border: none;
}

// 主要内容区结束