.pxb-layout {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
}

.banner-consult {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 170px;
  height: 200px;
  color: #fff;
  text-align: center;
  background-color: #f04d1c;
  opacity: .9;
  font-size: 18px;
}
.banner-consult .quanquan {
  height: 85px;
  line-height: 85px;
}
.banner-consult .quanquan i {
  font-size: 90px;
}
.banner-consult .consult-rexian {
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
}
.banner-consult .consult-rexian .consult-rexian-tubiao {
  height: 45px;
}
.banner-consult .consult-rexian .consult-rexian-tubiao i {
  font-size: 35px;
}
.banner-consult .consult-rexian .consult-rexian-dianhua {
  font-size: 16px;
  margin-right: 8px;
  height: 45px;
  vertical-align: super;
}
.banner-consult .consult-rexian-QQ {
  margin-top: 5px;
  color: #f04d1c;
}
.banner-consult .consult-rexian-QQ span {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  width: 80%;
  background-color: #fff;
}

.pxb-bg {
  position: relative;
  overflow: hidden;
}
.pxb-bg img {
  width: 100%;
}

.pxb-bg-two {
  overflow: hidden;
}
.pxb-bg-two img {
  width: 100%;
}

.pxb-header .pxb-info {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 867px;
  margin-left: -433.5px;
  color: #fff;
  text-align: center;
}
.pxb-header .pxb-info h3 {
  font-size: 40px;
  margin-bottom: 18px;
}
.pxb-header .pxb-info p {
  font-size: 20px;
}
.pxb-header .pxb-info a {
  margin-top: 20px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin-left: 1%;
  color: #000;
}
.pxb-header .pxb-info a:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  -webkit-transition: all 1s;
          transition: all 1s;
  line-height: 38px;
}
.pxb-header #pxb-navbar {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 11;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}
.pxb-header #pxb-navbar a {
  height: 80px;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.pxb-header #pxb-navbar a:hover {
  border-bottom: 2px solid red;
}
.pxb-header #pxb-navbar a.navbar-brand:hover {
  border-bottom: none;
}
.pxb-header #pxb-navbar a.navbar-brand .fl i {
  font-size: 40px;
  margin-right: 12px;
}
.pxb-header #pxb-navbar a.navbar-brand .fr i {
  font-size: 26px;
}
.pxb-header #pxb-navbar .navbar-toggle {
  margin-top: 24px;
}
.pxb-header #pxb-navbar .container-fluid {
  padding-left: 15%;
}
.pxb-header .navbar-default .navbar-toggle {
  border-color: #fff;
}
.pxb-header .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.pxb-header .navbar-default .navbar-toggle:focus,
.pxb-header .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.pxb-header #nav {
  padding-left: 100px;
}

.pxb-multi-scenario {
  overflow: hidden;
  background-color: #f8f8f8;
  padding: 4% 0;
}
.pxb-multi-scenario .pxb-multi-scenario-titel {
  position: relative;
  text-align: center;
}
.pxb-multi-scenario .pxb-multi-scenario-titel h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 4%;
}
.pxb-multi-scenario .pxb-multi-scenario-titel .line {
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -35px;
}
.pxb-multi-scenario .pxb-multi-scenario-titel .line .one {
  width: 35px;
  height: 5px;
  background-color: #000;
}
.pxb-multi-scenario .pxb-multi-scenario-titel .line .two {
  width: 35px;
  height: 5px;
  background-color: #999;
}
.pxb-multi-scenario .pxb-multi-scenario-titel p {
  font-size: 20px;
}
.pxb-multi-scenario .container-fluid {
  margin-top: 2%;
}
.pxb-multi-scenario .container-fluid .row {
  margin-top: 20px;
}
.pxb-multi-scenario .container-fluid .row h4 {
  text-align: center;
  font-size: 18px;
  color: #000;
}
.pxb-multi-scenario .container-fluid .row p {
  text-align: center;
  color: #787878;
}
.pxb-multi-scenario .container-fluid .row .pxb-multi-scenario-one div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/1.png") no-repeat 0 0;
}
.pxb-multi-scenario .container-fluid .row .pxb-multi-scenario-two div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/1.png") no-repeat -325px 0;
}
.pxb-multi-scenario .container-fluid .row .pxb-multi-scenario-three div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/1.png") no-repeat -651px 0;
}
.pxb-multi-scenario .container-fluid .row .pxb-multi-scenario-four div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/1.png") no-repeat -977px 0;
}

.pxb-main-resource {
  overflow: hidden;
  padding: 3% 0;
}
.pxb-main-resource .pxb-main-resource-info {
  padding-top: 26%;
}
.pxb-main-resource .pxb-main-resource-info h5 {
  font-size: 30px;
  color: #231815;
  font-weight: bold;
}
.pxb-main-resource .pxb-main-resource-info .line2 {
  margin-top: 5px;
  margin-bottom: 35px;
  width: 100%;
  height: 6px;
  padding-left: 10%;
  box-sizing: border-box;
}
.pxb-main-resource .pxb-main-resource-info .line2 .left {
  width: 8%;
  height: 6px;
  background-color: #231816;
}
.pxb-main-resource .pxb-main-resource-info .line2 .right {
  width: 8%;
  height: 6px;
  background-color: #ccc;
}
.pxb-main-resource .pxb-main-resource-info .quantity {
  color: #000;
}
.pxb-main-resource .pxb-main-resource-info .quantity .province {
  text-align: center;
  width: 98px;
  margin-right: 10px;
}
.pxb-main-resource .pxb-main-resource-info .quantity .city {
  text-align: center;
  width: 132px;
  margin-right: 10px;
}
.pxb-main-resource .pxb-main-resource-info .quantity .besel {
  text-align: center;
  width: 132px;
}
.pxb-main-resource .pxb-main-resource-info .quantity div {
  height: 42px;
  line-height: 42px;
  border: 1px solid #000;
  font-size: 20px;
}
.pxb-main-resource .pxb-main-resource-info p {
  margin-top: 20px;
  font-size: 18px;
  color: #787878;
}
.pxb-main-resource .pxb-main-resource-screen {
  text-align: right;
}

.pxb-put-in {
  overflow: hidden;
  background-color: #f8f8f8;
  padding: 9% 0;
}
.pxb-put-in .pxb-put-in-left {
  overflow: hidden;
}
.pxb-put-in .pxb-put-in-left img {
  width: 100%;
}
.pxb-put-in .pxb-put-in-right {
  margin-top: 10%;
  padding-left: 10%;
}
.pxb-put-in .pxb-put-in-right h3 {
  font-size: 30px;
  font-weight: bold;
}
.pxb-put-in .pxb-put-in-right p {
  font-size: 18px;
  color: #787878;
}

.pxb-flexible {
  overflow: hidden;
  padding: 4% 0;
}
.pxb-flexible .pxb-flexible-titel {
  position: relative;
  text-align: center;
}
.pxb-flexible .pxb-flexible-titel h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 4% 0;
}
.pxb-flexible .pxb-flexible-titel .line {
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -35px;
}
.pxb-flexible .pxb-flexible-titel .line .one {
  width: 35px;
  height: 5px;
  background-color: #000;
}
.pxb-flexible .pxb-flexible-titel .line .two {
  width: 35px;
  height: 5px;
  background-color: #999;
}
.pxb-flexible .pxb-flexible-titel p {
  font-size: 20px;
}
.pxb-flexible .container-fluid {
  margin-top: 3%;
}
.pxb-flexible .container-fluid .row {
  margin-top: 20px;
}
.pxb-flexible .container-fluid .row h4 {
  text-align: center;
  font-size: 18px;
  color: #000;
}
.pxb-flexible .container-fluid .row p {
  text-align: center;
  color: #787878;
}
.pxb-flexible .container-fluid .row .pxb-flexible-one div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/4.png") no-repeat 0 0;
}
.pxb-flexible .container-fluid .row .pxb-flexible-two div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/4.png") no-repeat -329px 0;
}
.pxb-flexible .container-fluid .row .pxb-flexible-three div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/4.png") no-repeat -659px 0;
}
.pxb-flexible .container-fluid .row .pxb-flexible-four div {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: url("../images/pxb/4.png") no-repeat -985px 0;
}

.pxb-networking {
  padding: 4% 0;
  overflow: hidden;
  background-color: #f8f8f8;
}
.pxb-networking .pxb-networking-info {
  margin-top: 16%;
}
.pxb-networking .pxb-networking-info h3 {
  font-size: 30px;
  font-weight: bold;
}
.pxb-networking .pxb-networking-info h5 {
  font-size: 20px;
}
.pxb-networking .pxb-networking-info p {
  font-size: 18px;
  color: #787878;
}
.pxb-networking .pxb-networking-map {
  text-align: center;
  overflow: hidden;
}
.pxb-networking .pxb-networking-map img {
  width: 80%;
}

.pxb-style {
  padding: 5% 0;
  overflow: hidden;
}
.pxb-style .pxb-style-left img {
  width: 100%;
}
.pxb-style .pxb-style-right {
  padding-left: 6%;
  padding-top: 15%;
}
.pxb-style .pxb-style-right h3 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
}
.pxb-style .pxb-style-right p {
  font-size: 18px;
  color: #787878;
}

.pxb-result {
  background-color: #f8f8f8;
  padding: 4% 0;
}
.pxb-result .pxb-result-info {
  margin-top: 16%;
}
.pxb-result .pxb-result-info h3 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
}
.pxb-result .pxb-result-info p {
  font-size: 18px;
  color: #787878;
}
.pxb-result .pxb-result-map {
  text-align: center;
  overflow: hidden;
}
.pxb-result .pxb-result-map img {
  width: 80%;
}

.pxb-safe-and-reliable {
  overflow: hidden;
  padding: 8% 0;
}
.pxb-safe-and-reliable .pxb-safe-and-reliable-titel {
  position: relative;
  text-align: center;
}
.pxb-safe-and-reliable .pxb-safe-and-reliable-titel h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 4% 0;
}
.pxb-safe-and-reliable .pxb-safe-and-reliable-titel .line {
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -42px;
}
.pxb-safe-and-reliable .pxb-safe-and-reliable-titel .line .one {
  width: 40px;
  height: 5px;
  background-color: #000;
}
.pxb-safe-and-reliable .pxb-safe-and-reliable-titel .line .two {
  width: 40px;
  height: 5px;
  background-color: #999;
}
.pxb-safe-and-reliable .pxb-safe-and-reliable-map img {
  width: 100%;
}

/*footer-------------begin*/
.footer {
  padding: 0 5%;
  height: 300px;
  width: 100%;
  background-color: #231816;
  box-sizing: border-box;
  padding: 0 12.5%;
  color: #fff;
}

.footer .particulars {
  font-size: 18px;
  padding-top: 50px;
  height: 250px;
  box-sizing: border-box;
}

.footer .address {
  height: 50px;
  text-align: center;
  font-size: 14px;
}

.About-us .About-us-one {
  font-size: 18px;
}

.About-us .About-us-two {
  margin-top: 30px;
}

.product-center .product-center-two {
  margin-top: 30px;
}

.product-center .product-center-two a {
  color: #f04d1c;
}

.particulars a {
  color: #fff;
  font-size: 16px;
}

.particulars a:hover {
  color: #f04d1c;
}

.particulars .hot-line {
  width: 1px;
  height: 110px;
  background-color: #fff;
}

/*footer-------------end*/
.img {
  -webkit-transition: all 2s;
          transition: all 2s;
}

.img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 992px) and (max-width: 1200px) {
  #pxb-multi-scenario #pxb-multi-scenario-all-ele div > div {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }

  #pxb-main-resource .row #pxb-main-resource {
    padding-top: 3%;
    text-align: center;
  }
  #pxb-main-resource .row #pxb-main-resource h5 {
    margin: 2% 0;
  }
  #pxb-main-resource .row #pxb-main-resource .quantity {
    padding-left: 33%;
  }
  #pxb-main-resource .row .pxb-main-resource-screen {
    text-align: center;
  }

  #pxb-put-in {
    padding: 5% 0;
  }
  #pxb-put-in .row .pxb-put-in-left {
    text-align: center;
  }
  #pxb-put-in .row .pxb-put-in-left img {
    width: 70%;
  }
  #pxb-put-in .row .pxb-put-in-right {
    padding-left: 0;
    text-align: center;
  }

  #pxb-flexible #pxb-flexible-all div > div {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }

  #pxb-networking .row .pxb-networking-info {
    margin-top: 4%;
    text-align: center;
  }
  #pxb-networking .row .pxb-networking-map div img {
    width: 70%;
  }

  #pxb-style .row .pxb-style-left {
    text-align: center;
  }
  #pxb-style .row .pxb-style-left img {
    width: 70%;
  }
  #pxb-style .row .pxb-style-right {
    padding-left: 0;
    padding-top: 5%;
    text-align: center;
  }

  #pxb-result .row .pxb-result-info {
    margin-top: 5%;
    text-align: center;
  }
  #pxb-result .row .pxb-result-map {
    text-align: center;
  }
  #pxb-result .row .pxb-result-map img {
    width: 70%;
  }

  #pxb-safe-and-reliable {
    padding: 6% 0;
  }
  #pxb-safe-and-reliable .pxb-safe-and-reliable-map {
    text-align: center;
  }
  #pxb-safe-and-reliable .pxb-safe-and-reliable-map img {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #pxb-header #pxb-navbar .container-fluid {
    padding-left: 5%;
  }
  #pxb-header #pxb-navbar .container-fluid #nav {
    padding-left: 0;
  }

  #pxb-multi-scenario #pxb-multi-scenario-all-ele div > div {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  #pxb-main-resource .row #pxb-main-resource {
    padding-top: 3%;
    text-align: center;
  }
  #pxb-main-resource .row #pxb-main-resource h5 {
    margin: 2% 0;
  }
  #pxb-main-resource .row #pxb-main-resource .quantity {
    display: none;
  }
  #pxb-main-resource .row .pxb-main-resource-screen {
    text-align: center;
  }

  #pxb-put-in {
    padding: 5% 0;
  }
  #pxb-put-in .row .pxb-put-in-left {
    text-align: center;
  }
  #pxb-put-in .row .pxb-put-in-left img {
    width: 70%;
  }
  #pxb-put-in .row .pxb-put-in-right {
    padding-left: 0;
    text-align: center;
  }

  #pxb-flexible #pxb-flexible-all div > div {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  #pxb-networking .row .pxb-networking-info {
    margin-top: 4%;
    text-align: center;
  }
  #pxb-networking .row .pxb-networking-map div img {
    width: 70%;
  }

  #pxb-style .row .pxb-style-left {
    text-align: center;
  }
  #pxb-style .row .pxb-style-left img {
    width: 70%;
  }
  #pxb-style .row .pxb-style-right {
    padding-left: 0;
    padding-top: 5%;
    text-align: center;
  }

  #pxb-result .row .pxb-result-info {
    margin-top: 5%;
    text-align: center;
  }
  #pxb-result .row .pxb-result-map {
    text-align: center;
  }
  #pxb-result .row .pxb-result-map img {
    width: 70%;
  }

  #pxb-safe-and-reliable {
    padding: 6% 0;
  }
  #pxb-safe-and-reliable .pxb-safe-and-reliable-map {
    text-align: center;
  }
  #pxb-safe-and-reliable .pxb-safe-and-reliable-map img {
    width: 90%;
  }

  #footer {
    padding: 0 2%;
  }
}
@media (max-width: 768px) {
  #pxb-header .navbar {
    height: 50px;
  }
  #pxb-header .navbar .container-fluid {
    height: 50px;
    margin-left: 12px;
    padding-left: 0;
  }
  #pxb-header .navbar .container-fluid a {
    height: 50px;
    line-height: 50px;
  }
  #pxb-header .navbar .container-fluid .navbar-header {
    height: 50px;
  }
  #pxb-header .navbar .container-fluid .navbar-header .navbar-toggle {
    margin-top: 8px;
    padding: 6px 8px;
  }
  #pxb-header .navbar .container-fluid .navbar-header .navbar-brand #pxb-fonts-one {
    font-size: 26px;
  }
  #pxb-header .navbar .container-fluid .navbar-header .navbar-brand #pxb-fonts-two {
    font-size: 18px;
  }
  #pxb-header .navbar .container-fluid #bs-example-navbar-collapse-1 {
    background: rgba(0, 0, 0, 0.6);
  }
  #pxb-header .navbar .container-fluid #bs-example-navbar-collapse-1 #nav {
    padding-left: 0;
  }
  #pxb-header .navbar .container-fluid #bs-example-navbar-collapse-1 #nav li a {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
  }

  #pxb-multi-scenario #pxb-multi-scenario-all-ele div > div {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  #pxb-multi-scenario {
    margin-top: 2%;
  }
  #pxb-multi-scenario .pxb-multi-scenario-titel h3 {
    font-size: 22px;
    margin-bottom: 0;
  }
  #pxb-multi-scenario #pxb-multi-scenario-all-ele .row {
    margin-top: 0;
  }

  #pxb-main-resource .row #pxb-main-resource-all {
    padding-top: 3%;
    text-align: center;
  }
  #pxb-main-resource .row #pxb-main-resource-all h5 {
    font-size: 22px;
    margin: 2% 0;
  }
  #pxb-main-resource .row #pxb-main-resource-all .quantity {
    display: none;
  }
  #pxb-main-resource .row .pxb-main-resource-screen {
    text-align: center;
  }
  #pxb-main-resource .row .pxb-main-resource-screen img {
    width: 70%;
  }

  #pxb-put-in {
    padding: 5% 0;
  }
  #pxb-put-in .row .pxb-put-in-left {
    text-align: center;
  }
  #pxb-put-in .row .pxb-put-in-left img {
    width: 70%;
  }
  #pxb-put-in .row .pxb-put-in-right {
    padding: 0;
    text-align: center;
  }
  #pxb-put-in .row .pxb-put-in-right h3 {
    font-size: 22px;
  }

  #pxb-flexible .pxb-flexible-titel h3 {
    font-size: 22px;
  }
  #pxb-flexible #pxb-flexible-all div div {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  #pxb-flexible #pxb-flexible-all div h4 {
    font-size: 18px;
    color: #000;
  }
  #pxb-flexible #pxb-flexible-all div p {
    color: #787878;
    font-size: 16px;
    margin-bottom: 0;
  }

  #pxb-networking .row .pxb-networking-info {
    margin-top: 4%;
    text-align: center;
  }
  #pxb-networking .row .pxb-networking-info h3 {
    font-size: 22px;
  }
  #pxb-networking .row .pxb-networking-map div img {
    width: 70%;
  }

  #pxb-style .row .pxb-style-left {
    text-align: center;
  }
  #pxb-style .row .pxb-style-left img {
    width: 70%;
  }
  #pxb-style .row .pxb-style-right {
    padding-left: 0;
    padding-top: 5%;
    text-align: center;
  }
  #pxb-style .row .pxb-style-right h3 {
    font-size: 22px;
  }

  #pxb-result .row .pxb-result-info {
    margin-top: 5%;
    text-align: center;
  }
  #pxb-result .row .pxb-result-info h3 {
    font-size: 22px;
  }
  #pxb-result .row .pxb-result-info p {
    font-size: 12px;
  }
  #pxb-result .row .pxb-result-map {
    text-align: center;
  }
  #pxb-result .row .pxb-result-map img {
    width: 70%;
  }

  #pxb-safe-and-reliable {
    padding: 6% 0;
  }
  #pxb-safe-and-reliable .pxb-safe-and-reliable-map {
    text-align: center;
  }
  #pxb-safe-and-reliable .pxb-safe-and-reliable-map img {
    width: 90%;
  }
  #pxb-safe-and-reliable .pxb-safe-and-reliable-titel h3 {
    font-size: 22px;
  }

  #footer-small {
    background-color: #231816;
    color: #fff;
    font-size: 16px;
    padding: 4%;
  }
  #footer-small .particulars a {
    font-size: 14px;
  }
  #footer-small .particulars .left .About-us {
    margin-bottom: 10px;
  }
  #footer-small .particulars .left .About-us .About-us-one {
    font-size: 16px;
  }
  #footer-small .particulars .left .About-us .About-us-two {
    margin: 0 10px;
  }
  #footer-small .particulars .left .product-center {
    margin-bottom: 10px;
  }
  #footer-small .particulars .left .product-center .product-center-two {
    margin: 0 22px 0 10px;
  }
  #footer-small .particulars .left .product-center .product-center-two a {
    color: #f14e1c;
  }
  #footer-small .particulars .left .case {
    margin-bottom: 10px;
  }
  #footer-small .address .base {
    font-size: 12px;
  }
  #footer-small .address .base p {
    margin: 0;
  }
}
@media (max-width: 330px) {
  #pxb-multi-scenario .pxb-multi-scenario-titel h3 {
    font-size: 22px;
  }
  #pxb-multi-scenario .small .row #one {
    width: 100%;
    padding: 0 5%;
    margin-bottom: 10px;
  }
  #pxb-multi-scenario .small .row #one .left {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  #pxb-multi-scenario .small .row #one .right {
    margin-left: 8%;
  }
}
.color {
  color: #f14e1c;
}
