.v-transfer-dom .vux-confirm .vux-x-dialog .weui-dialog .weui-dialog__hd {
  padding: 2em 1.6em 2em;
}

.v-transfer-dom .vux-confirm .vux-x-dialog .weui-dialog .weui-dialog__bd {
  display: none;
}

.v-transfer-dom .vux-confirm .vux-x-dialog .weui-dialog .weui-dialog__ft {
  line-height: 2.2em;
}
