@charset "utf-8";
$impColor: #ff5663;
$bgColor: #eeeeee;
$blue: #1e71f9;
$green: #48bb0f;
$yellow: #ffcd2c;
$white: #ffffff;
$impTextColor: #333333;
$contenTextColor: #666666;
$shallowColor: #999999;
$sublineColor: #dedede;
.v-transfer-dom {
    .vux-confirm {
        .vux-x-dialog {
            .weui-dialog {
                .weui-dialog__hd {
                    padding: 2em 1.6em 2em;
                }
                .weui-dialog__bd {
                    display: none;
                }
                .weui-dialog__ft{
                    line-height:2.2em;
                }
            }
        }
    }
    .vux-popup-dialog.vux-popup-top{
        
    }
}